{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  word-wrap: break-word;
}
.nav_highlight {
  border: 1px solid #f1f1f8;
  background-color: #efefe3;
  border-radius: 3px;

}
</style>
{% endblock css %}

{% block page_title %}Key Management Dashboard{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block control_active %}active{% endblock %}

{% block container %}

      <div class="page-header">
        <h1>Node Information</h1>
      </div>

      <h2><span class="label label-success">Live Nodes</span></h2>
      <div class="row">
      {% for node in nodes.active_node %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Node {{ node.node_id }}</h3>
            </div>
            <div class="panel-body">
              <div class="well">
                <div class="row">
                  <div class="col-md-5">
                    <label>Node Type</label>
                  </div>
                  <div class="col-md-7">
                    <span id="node_type" style="width:100%; word-wrap: break-word;">{{ node.get_node_type_display }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <label>Deployment</label>
                  </div>
                  <div class="col-md-7">
                    <span id="node_type" style="width:100%; word-wrap: break-word;">{{ node.deployment.name }}</span>
                  </div>
                </div>
                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-5">
                    <label>Status</label>
                  </div>
                  <div class="col-md-7">
                    <span id="node_status" style="width:100%; word-wrap: break-word;">Registered: {{ node.registration_status }}</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>Node Keys</label>
                  </div>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav_highlight" id="myTab">
                  <li class="active"><a href="#Authentication-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Authentication Key">Authentication</a></li>
                  <li><a href="#Encryption-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Encryption Key">Encryption</a></li>
                  <li><a href="#Group-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Group Key">Group</a></li>
                  <li><a href="#OTA-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="OTA Key">OTA</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane highlight fade active in" id="Authentication-{{node.node_id}}">{{ node.authentication_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="Encryption-{{node.node_id}}">{{ node.encryption_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="Group-{{node.node_id}}">{{ node.group_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="OTA-{{node.node_id}}">{{ node.ota_key.key_value }}</div>
                </div>

              </div> <!-- end of well -->

              <!-- Start of node management -->
              <div class="row">
                <div class="col-md-12">
                  <label>Node Management</label>
                </div>
              </div>
              <form  action"{% url "mydashboard:dashboard" %}" method="POST" id="command-form"> {% csrf_token %}
                <!-- start of command type selection -->
                <div class="form-group">
                  <label for="commandType">Command :</label>
                  <select onChange="myCommand(this.id)" name="node_command-{{node.node_id}}" id="command-{{node.node_id}}">
                    <option value="" disabled selected style="display:none;">Select</option>
                    <option value="1">Key Update</option>
                    <option value="2">Node Update</option>
                  </select>
                  <input type="hidden" name="node_ID" id="node_ID" value="{{node.node_id}}">
                  <input type="hidden" name="node_deployment" id="node_deployment" value="{{node.deployment.name}}">
                </div>
                <!-- start of security keys command -->
                <div id="Key_Command"style="display:none;">
                  <div class="form-group">
                    <label for="authentication_key-{{node.node_id}}">AK:</label>
                    <input type="text" class="form-control" name="authentication_key-{{node.node_id}}" id="authentication_key-{{node.node_id}}" placeholder="Authentication Key">
                  </div>
                  <div class="form-group">
                    <label for="encryption_key-{{node.node_id}}">EK:</label>
                    <input type="text" class="form-control" name="encryption_key-{{node.node_id}}" id="encryption_key-{{node.node_id}}" placeholder="Encryption Key">
                  </div>
                  <div class="form-group">
                    <label for="group_key-{{node.node_id}}">GK:</label>
                    <input type="text" class="form-control" name="group_key-{{node.node_id}}" id="group_key-{{node.node_id}}" placeholder="Group Key">
                  </div>
                  <div class="form-group">
                    <label for="ota_key-{{node.node_id}}">OTAK:</label>
                    <input type="text" class="form-control" name="ota_key-{{node.node_id}}" id="ota_key-{{node.node_id}}" placeholder="OTA Key">
                  </div>
                </div>

                <!-- start of node management command -->
                <div id="Node_Command" style="display:none;">
                  <div class="form-group">
                    <label class="radiobox-inline">
                      <input type="radio" name="interval_type" id="radio_sending" value="send"> Sending
                    </label>
                    <label class="radiobox-inline">
                      <input type="radio" name="interval_type" id="radio_sensing" value="sense"> Sensing
                    </label>
                  </div>
                  <div id="Send_Command" style="display:none;">
                    <div class="form-group">
                      <div class="form-group">
                        <label for="commandType">Device :</label>
                        <select name="device-{{node.node_id}}" id="device-{{node.node_id}}">
                          <option value="" disabled selected style="display:none;">Select</option>
                          <option value="0">Due 1</option>
                          <option value="1">Due 2</option>
                          <option value="2">Waspmote</option>
                        </select>
                      </div>

                      <label for="sending-{{node.node_id}}">Sending Interval</label>
                      <input type="text" class="form-control" name="send_int-{{node.node_id}}" id="send_int-{{node.node_id}}" placeholder="Sending interval in ms">
                    </div>
                  </div>
                  <div id="Sense_Command" style="display:none;">
                    <div class="form-group">
                      <label for="sensorType">Sensor:</label>
                      <select name="sensor-{{node.node_id}}" id="sensor_type-{{node.node_id}}">

                        {% for modality in modalities %}
                          {% if node.app_config.config_id == modality.app_config.config_id %}
                          <option value="{{ modality.modality_bit }}">{{ modality.sensor.modality }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="sensing-{{node.node_id}}">Sensing Interval</label>
                      <input type="text" class="form-control" name="sense_int-{{node.node_id}}" id="sense_int-{{node.node_id}}" placeholder="Sensing interval in ms">
                    </div>
                  </div>
                </div>
                <input type="button" id='genkeyBtn' onclick="generateKeys()" style="display:none;" class="btn btn-default" value="Generate Keys">

                <button id='submitBtn' type="submit" class="btn btn-primary disabled" style="">Submit</button>
              </form>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
        </div><div class="row">
        {% endif %}
      {% endfor %}
      </div>

      <h2><span class="label label-warning">Inactive Nodes</span></h2>
      <div class="row">
      {% for node in nodes.inactive_node %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Node {{ node.node_id }}</h3>
            </div>
            <div class="panel-body">
              <div class="well">
                <div class="row">
                  <div class="col-md-5">
                    <label>Node Type</label>
                  </div>
                  <div class="col-md-7">
                    <span id="node_type" style="width:100%; word-wrap: break-word;">{{ node.get_node_type_display }}</span>
                  </div>
                </div>
                <div class="row" style="padding-bottom:15px;">
                  <div class="col-md-5">
                    <label>Status</label>
                  </div>
                  <div class="col-md-7">
                    <span id="node_status" style="width:100%; word-wrap: break-word;">Registered: {{ node.registration_status }}</span>
                  </div>
                </div>

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav_highlight">
                  <li class="active"><a href="#Authentication-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Authentication Key">Authentication</a></li>
                  <li><a href="#Encryption-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Encryption Key">Encryption</a></li>
                  <li><a href="#Group-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Group Key">Group</a></li>
                  <li><a href="#OTA-{{node.node_id}}" data-toggle="tab" data-toggle="tooltip" data-placement="top" title="OTA Key">OTA</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane highlight fade active in" id="Authentication-{{node.node_id}}">{{ node.authentication_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="Encryption-{{node.node_id}}">{{ node.encryption_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="Group-{{node.node_id}}">{{ node.group_key.key_value }}</div>
                  <div class="tab-pane highlight fade" id="OTA-{{node.node_id}}">{{ node.ota_key.key_value }}</div>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
        </div><div class="row">
        {% endif %}
      {% endfor %}
      </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}
