{% extends "base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  word-wrap: break-word;
}
.nav_highlight {
  border: 1px solid #f1f1f8;
  background-color: #efefe3;
  border-radius: 3px;
}
html, body, #map-canvas {
        height: 500px;
        width: 500px;
        margin: 0px;
        padding: 0px
      }

</style>
{% endblock css %}

{% block page_title %}Key Management Dashboard{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block control_active %}active{% endblock %}

{% block content %}
<div id="map-canvas"></div>



{% endblock %}

{% block extra_js %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    var map;
    function initialize() {
      var mapOptions = {
        zoom: 8,
        center: new google.maps.LatLng(-34.397, 150.644)
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
      console.log("inside initialize");
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}
